<div class="row">
  @for (card of cards; track card) {
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="{{ card.background }} order-card">
      <h5 class="text-white">{{ card.title }}</h5>
      <h4 class="text-end text-white">
        <i class="feather {{ card.icon }} float-start"></i>
        <span>{{ card.revenue }}</span>
      </h4>
      <p class="m-b-0">
        Today
        <span class="float-end">{{ card.data[0].count }}</span>
      </p>
      <p class="m-b-0">
        This Week
        <span class="float-end">{{ card.data[1].count }}</span>
      </p>
      <p class="m-b-0">
        This Month
        <span class="float-end">{{ card.data[2].count }}</span>
      </p>
      <p class="m-b-0">
        Till Date
        <span class="float-end">{{ card.data[3].count }}</span>
      </p>
    </app-card>
  </div>
  }

</div>